body {
	text-align: center;
	background: url("../img/stars1.jpg");
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: auto;
	color: white;
	font-family:'Syncopate', sans-serif;
	padding: 0 0 10%;
}

.form-group h1 {
	padding-top: 20px;
	animation-name: lightSpeedIn;
    animation-duration: 1s;
}

form {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin: 0 auto;
}

@media only screen and (min-width: 605px) {
	form {
		width: 70%;
	}
}

@media only screen and (min-width: 988px) {
	form {
		width: 50%;
	}
}

@media only screen and (min-width: 556px) {
	#yourHoroscope {
		width: 80%;
		display: flex;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 667px) {
	#yourHoroscope {
		width: 50%;
	}
}


